<h1>New Recruitment</h1>
<%= form_with model: Recruitment.new, local: true do |form| %>
  <p>
    <%= form.label :room_name,"Room Name" %><br>
    <%= form.text_field :room_name %>
  </p>

  <p>
    <%= form.submit "Recruit" %>
  </p>
<% end %>
