<p>
  <strong>Room Name:</strong>
  <%= @recruitment.room_name %>
</p>

<p>
  <strong>URL:</strong>
  <%= @recruitment.room_url %>
</p>

<p>
  <strong>Description:</strong>
  <%= @recruitment.description %>
</p>

